<ion-view view-title="Quiz">
  <ion-content  ng-controller="QuizCtrl">
    <div class="list list-inset">
      <div class="item-remove-animate item-avatar item-icon-right" ng-repeat="question in questions" type="item-text-wrap" href="#">
      <fieldset>
        <div class="item item-text-wrap item-divider question-header"> 
          {{ question.prompt }} 
        </div>
        
          <ion-radio class="item-text-wrap" 
                  ng-repeat="answer in question.answers"
                  ng-value="answer"
                  ng-model="responses[question.name]"
                  ng-change="selectChange(answer, question)"
                  name="{{'question' + question.name}}">
                  <img ng-if="answer.img" ng-src="/img/{{ answer.img }}" />
          {{ answer.text }}
        </ion-radio>
        </fieldset>
        <HR>
      </div>
    </div>
  </ion-content>
</ion-view>


