<ion-view view-title="Review">
  <ion-content ng-controller="QuizCtrl">


    <div class="card">
      <div class="item item-divider">
        User Information
      </div>
      <div class="item item-text-wrap">
        <ul>
          <li>First Name: {{first}}</li>
          <li>Last Name: {{last}}</li>
          <li>E-mail: {{email}}</li>
      </div>
    </div>

    {{user}}
     {{questions[0].prompt}} {{responses.q1.text}}
    
    <a class="button button-block button-positive">
  Everything looks good! Submit my response!
</a>
  </ion-content>
</ion-view>


