<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Sign-up" icon-off="ion-at" icon-on="ion-at" href="#/tab/dash">
    <ion-nav-view name="tab-email"></ion-nav-view>
  </ion-tab>

  <!-- Quiz Tab -->
  <ion-tab title="Quiz" icon-off="ion-android-happy" icon-on="ion-android-happy" href="#/tab/quiz">
    <ion-nav-view name="tab-quiz"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Review" icon-off="ion-speedometer" icon-on="ion-speedometer" href="#/tab/review">
    <ion-nav-view name="tab-review"></ion-nav-view>
  </ion-tab>


</ion-tabs>
